/* 
/*footer stuff to help make it stay at the bottom*/
.clear { 
    clear:both;
    font-size: 1%;
}

/*Nav Bar*/
.navlist{
    border: 1px solid darkslategrey;
    background: grey;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: x-large;
    font-weight:bold;
    text-align: right;
    
}
nav ul{
    margin-left:20%;
    margin-right: auto;

}
nav li {
    display: inline-block;
    margin: 0;
    padding: 0px 40px 0px 40px;
}


/*Header*/
header{
    background: transparent ;    
    padding: 0;
    margin: 0;
    box-sizing: border-box;    
    width: 100%;
    /* -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;*/
    /* display: block;  */
    /* background-size: 100% 75% 100% 75%; */
    
}
header h1{
    color:darkcyan;
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 6px;
    float:right;
}
header h2{
    color:white;
    font-family: 'Barlow Condensed', sans-serif;
    float:right;
}

h2{
    font-size:xxx-large;
    letter-spacing: -0.025em;
    margin: 0;  
    font-family: 'Barlow Condensed', sans-serif;
    font-size:x-large; 
    
}

.socials{
    width:25px;
    height: 25px;
    padding:10px;
    border-radius:5px;  
}
/*Body*/
body{

    background-image: url("img/color.jpg");
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: cover;
    font-family: 'Barlow Condensed', sans-serif;
}
.bio{
    width: 200px;
    height:500px;
    border: 2px solid grey;
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 30px;
    margin-bottom:90px;
    padding:10px;
    background-color:transparent;
    float:right;   
}
img{
    display: inline-block;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    padding: 0 5% 0 0;
}

/*Footer*/
footer{
    background-color:grey; 
    height:30px;
    margin-top: 110px;
           
}
footer li {
    display: inline-block;
    margin: 0;
    padding: 0px;
} 